<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %></title>
    <style>
      html,
      body,
      .geolonia {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div
      class="geolonia"
      data-lat="35.65810422222222"
      data-lng="139.74135747222223"
      data-zoom="9"
    >
      <strong>日本経緯度原点</strong><br />東京都港区麻布台二丁目
    </div>
    <script src="https://api.geolonia.com/v1/embed?geolonia-api-key=YOUR-API-KEY"></script>
  </body>
</html>
